*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px;
    background-color: black;
}
.div_nav_01{
    color: white;
    font-size: 45px;
    font-weight: 800;
}
.div_nav_01 span{
    color: #f80036;
}
.div_nav_02 ul{
    display: flex;
    list-style: none;
    /* justify-content: space-between; */
    font-size: 20px;
    font-weight: 700;
    
}
.div_nav_02 ul li{
    margin-right: 40px;
}
.div_nav_02 ul li a{
    text-decoration: none;
    color: white;
}
.bttn_nav{
    font-size: 18px;
    padding: 10px 25px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    background-color: #DB506E;
    font-weight: 700;
}




/* Header Section_01 Style Starting */
.section_01{
    background-color: #fdeef1;
    height: 711px;
    padding: 20px;
}
.section_01_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.written_section{
    width: 520px;
    margin-left: 70px;
}
.written_section>h1{
    font-size: 60px;
    font-weight: 900;
}
.written_section p{
    font-size: 15px;
    opacity: 0.5;
    font-weight: 600;
    margin: 20px 0;
    line-height: 25px;
    letter-spacing: 0.6px;
}
.written_section .sop_bttn{
    padding: 10px;
    font-size: 20px;
    background-color: #E55473;
    color: white;
    border: 0;
    border-radius: 5px;
}
.flower_section>img{
    width: 475px;
    height: 718px;
    margin-top: 12px;
}
/* Header Section_01 Style Ending */



/* Main Section Style Start */


/* Section_02 Style Start */
.section_02{
    height: 750px;
    margin-top: 100px;
}
.div_01{
    display: flex;
    justify-content: center;
}
.section_02content{
    text-align: center;
}
.section_02content>h1{
    font-size: 40px;
    font-weight: 900;
    
}
.section_02content>p{
    width: 560px;
    margin-top: 21px;
    opacity: 0.5;
    line-height: 25px;
}
.f01>img{
    height: 315px;
    width: 265px;
    padding-top: 105px;
}
.f02>img{
    height: 315px;
    width: 265px;
    padding-top: 105px;
}
.f03>img{
    height: 315px;
    width: 265px;
    padding-top: 105px;
}
.flower_div{
    display: flex;
    justify-content: space-around;
    width: 1030px;
    margin-top: 100px;
}
.f01{
    /* background-color: #E55473; */
    text-align: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 420px;
    width: 328px;
}
.f02{
    /* background-color: #E55473; */
    text-align: center;
    border-radius: 300px 300px 0px 0px;
    background: #DAF0F1;
    height: 420px;
    width: 328px;
}
.f03{
    /* background-color: #E55473; */
    text-align: center;
    border-radius: 300px 300px 0px 0px;
    background:#E4ECDC;
    height: 420px;
    width: 328px;
}
.f01>a{
    margin-top: 10px;
    display: block;
    font-size: 19px;
    font-weight: 700;
    color: black;
}
.f02>a{
    margin-top: 10px;
    display: block;
    font-size: 19px;
    font-weight: 700;
    color: black;
}
.f03>a{
    margin-top: 10px;
    display: block;
    font-size: 19px;
    font-weight: 700;
    color: black;
}

/* Section_02 Style Ending */
/* Section_03 Style Start */
.option1{
    display: flex;
    justify-content: center;
}
.optional_img_01{
    width: 316px;
    text-align: center;
    margin-top: 75px;
    margin-left: 60px;
}
.optional01{
    width: 1200px;
    height: 320px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-around;
}
.optional_img_01>img{
    width: 81px;
    /* height: 100px; */
    margin-bottom: 35px;
}
.optional_img_01>p{
    font-size: 20px;
    font-weight: 700;
    opacity: 0.5;
}
/* Section_03 Style Ending */
/* Section_04 Style Start */
.flx_content_section_04{
    display: flex;
    justify-content: space-around;
    background-color: #F2DEE8;
    margin: 120px 0;
    height: 450px;
}
.content_section_04 span{
    color: #DB506E;
}
.content_section_04{
    width: 650px;
    text-align: center;
    padding-top: 109px;
    margin-left: 170px;
}
.content_section_04>h1{
    font-size: 40px;
}
.content_section_04>p{
    font-size: 20px;
    margin-top: 20px;
}
.content_section_04>.section04_bttn{
    padding: 10px;
    font-size: 20px;
    background-color: #E55473;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
}
.flower_section_04>img{
    width: 267px;
    margin-top: 50px;
    margin-right: 215px;
}
/* Section_04 Style Ending */
/* Section_05 Style Start */
.section_05{
    height: 480px;
    margin-top: 100px;
}
.div_01_sec_05{
    display: flex;
    justify-content: center;
}
.section_05content{
    text-align: center;
}
.section_05content>h1{
    font-size: 40px;
    font-weight: 900;
    
}
.section_05content>p{
    width: 560px;
    margin-top: 21px;
    opacity: 0.5;
    line-height: 25px;
}
.f_01>img{
    height: 315px;
    width: 265px;
    padding-top: 50px;
}
.flower_div_section_05{
    display: flex;
    justify-content: space-around;
    width: 1130px;
}
.f_01{
    text-align: center;
    height: 420px;
    width: 328px;
}
/* Section_05 Style Ending */
/* Section_06 Style Start */
.section_06{
    height: 520px;
}
.sub_section_06{
    background-image: url('image/Rectangle\ 9.png');
    height: 550px;
    background-size: 1227px 440px;
    margin-top: 100px;
    margin-left: 60px;
    width: 95%;
    background-position-x: center;
    background-repeat: no-repeat;
    text-align: center;
}
.section_06_border{
    border: 4px solid #E55473;
    height: 435px;
    margin-left: 103px;
    width: 84.88%;
}
.sub_section_06 h1{
    font-size: 40px;
    font-weight: 900;
    margin-top: 10px;
    padding-top: 110px;
    margin-bottom: 20px;
}
.sub_section_06 p{
    opacity: 0.5;
    font-weight: 600;
}
.sub_section_06 .section_06_input{
    width: 470px;
    height: 30px;
    padding: 10px;
    margin-top: 63px;
    border: 0;
    border-radius: 5px;
}
.sub_section_06 .section_06_bttn{
    background-color: #E55473;
    color: white;
    font-size: 15px;
    padding: 15px;
    margin-left: 10px;
    margin-top: 63px;
    border: 0;
    border-radius: 5px;
}
/* Section_06 Style Ending */



/* Main section style Ending */



/* Footer Section_01 Style Starting */
.footer{
    background-color: black;
    width: 100%;
    height: 449px;
    position: absolute;
    text-align: center;
}
.footer>h1{
    color: white;
    font-size: 55px;
    font-weight: 800;
    margin-top: 130px;
}
.footer span{
    color: rgb(229, 84, 115);
}
.footer>p{
    color: white;
    font-size: 20px;
    line-height: 36px;
}
.footer>.cpyRight{
    margin-top: 50px;
    opacity: 0.5;
}
/* Footer Section_01 Style Ending */