*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* Header Section_01 Style Starting */
.section_01{
    background-color: #fdeef1;
    height: 711px;
    padding: 20px;
}
.section_01_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.written_section{
    width: 450px;
}
.written_section>h1{
    font-size: 45px;
    font-weight: 900;
}
.written_section p{
    font-size: 15px;
    opacity: 0.5;
    font-weight: 600;
    margin: 20px 0;
    line-height: 2;
    letter-spacing: 0.6px;
}
.written_section .sop_bttn{
    padding: 10px;
    font-size: 20px;
    background-color: #E55473;
    color: white;
    border: 0;
    border-radius: 5px;
}
.flower_section>img{
    width: 515px;
    height: 718px;
    margin-top: 12px;
}
/* Header Section_01 Style Ending */



/* Main Section Style Start */


/* Section_02 Style Start */
.section_02{
    height: 750px;
    margin-top: 100px;
}
.div_01{
    display: flex;
    justify-content: center;
}
.section_02content{
    text-align: center;
}
.section_02content>h1{
    font-size: 35px;
    
}
.section_02content>p{
    width: 560px;
    margin-top: 21px;
    opacity: 0.5;
    line-height: 25px;
}
.f01>img{
    height: 315px;
    width: 265px;
    padding-top: 105px;
}
.f02>img{
    height: 315px;
    width: 265px;
    padding-top: 105px;
}
.f03>img{
    height: 315px;
    width: 265px;
    padding-top: 105px;
}
.flower_div{
    display: flex;
    justify-content: space-around;
    width: 1030px;
    margin-top: 100px;
}
.f01{
    /* background-color: #E55473; */
    text-align: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 420px;
    width: 328px;
}
.f02{
    /* background-color: #E55473; */
    text-align: center;
    border-radius: 300px 300px 0px 0px;
    background: #DAF0F1;
    height: 420px;
    width: 328px;
}
.f03{
    /* background-color: #E55473; */
    text-align: center;
    border-radius: 300px 300px 0px 0px;
    background:#E4ECDC;
    height: 420px;
    width: 328px;
}
.f01>a{
    margin-top: 10px;
    display: block;
    font-size: 19px;
    font-weight: 700;
    color: black;
}
.f02>a{
    margin-top: 10px;
    display: block;
    font-size: 19px;
    font-weight: 700;
    color: black;
}
.f03>a{
    margin-top: 10px;
    display: block;
    font-size: 19px;
    font-weight: 700;
    color: black;
}

/* Section_02 Style Ending */
/* Section_06 Style Start */
.section_06{
    height: 600px;
}
.sub_section_06{
    background-image: url('image/Rectangle\ 9.png');
    height: 550px;
    background-size: 1227px 440px;
    margin-top: 100px;
    margin-left: 60px;
    width: 95%;
    background-position-x: center;
    background-repeat: no-repeat;
    text-align: center;
}
.section_06_border{
    border: 4px solid #E55473;
    height: 435px;
    margin-left: 103px;
    width: 84.88%;
}
.sub_section_06 h1{
    font-size: 40px;
    font-weight: 900;
    margin-top: 10px;
    padding-top: 110px;
    margin-bottom: 20px;
}
.sub_section_06 p{
    opacity: 0.5;
    font-weight: 600;
}
.sub_section_06 .section_06_input{
    width: 470px;
    height: 30px;
    padding: 10px;
    margin-top: 63px;
    border: 0;
    border-radius: 5px;
}
.sub_section_06 .section_06_bttn{
    background-color: #E55473;
    color: white;
    font-size: 15px;
    padding: 15px;
    margin-left: 10px;
    margin-top: 63px;
    border: 0;
    border-radius: 5px;
}
/* Section_06 Style Ending */



/* Main section style Ending */



/* Footer Section_01 Style Starting */
.footer{
    background-color: black;
    width: 100%;
    height: 449px;
    position: absolute;
    text-align: center;
}
.footer>h1{
    color: white;
    font-size: 55px;
    font-weight: 800;
    margin-top: 130px;
}
.footer span{
    color: rgb(229, 84, 115);
}
.footer>p{
    color: white;
    font-size: 20px;
    line-height: 36px;
}
.footer>.cpyRight{
    margin-top: 50px;
    opacity: 0.5;
}
/* Footer Section_01 Style Ending */